body {
    font-size: 16px;
    background: linear-gradient(#000000, #4c0009);
    color: #ffffff;
}

p {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    text-transform: uppercase;
    text-align: center;
    background: -webkit-linear-gradient(#000000, #5f0900, #b41d14, #ff1400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-saw {
    text-transform: uppercase;
    background: -webkit-linear-gradient(#ff1400, #b41d14, #5f0900, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saw {
    width: 250px;
    border-radius: 100%;
}

.game-start {
    display: none;
    min-height: 200px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.control-btn {
    display: flex;
    flex-direction: row;
}

.control-btn button {
    margin: 0 10px;
    padding: 10px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    background-color: #1c1c1c;
}

.control-btn button:hover {
    transition: 1s;
    color: #100005;
    background: linear-gradient(#f5f5f5, #4c0009);;
}

.game-start__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
}

.game-start__param {
    width: 130px;
    margin: 0;
}

.game-start__meter {
    width: 300px;
    height: 20px;
}

.game-start__meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 10px;
}

.game-start__meter::-webkit-meter-optimum-value {
    background: linear-gradient(#ffffff, #1bff00); /* Green */
    border-radius: 10px;
}

.game-start__meter::-webkit-meter-suboptimum-value {
    background: linear-gradient(#ffffff, #ffc343); /* Green */
    border-radius: 10px;
}

.game-start__meter::-webkit-meter-even-less-good-value {
    background: linear-gradient(#ffffff, #ff0404); /* Green */
    border-radius: 10px;
}

.play-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
}

.play-btn button {
    padding: 3px 15px;
    margin: 3px;
    color: #990000;
    background: linear-gradient(#a2a2a2, #8f9f98);
    border: none;
    border-radius: 10px;
}

.play-btn button:hover {
    color: #000000;
    background: linear-gradient(#ffffff, #fff8f3);
}

.game-over {
    display: none;
    background: url("src/game_over.jpg") no-repeat center center;
    background-size: contain;
    height: 100%;
    min-height: 200px;
}

.game-over__message {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
    max-width: 300px;
    margin: 0 auto;
}

.restart {
    display: block;
    margin: 10px auto;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: red;
}

.positive {
    color: #1bff00;
}

.negative {
    color: #000000;
}

.feed, .wash, .happiness, .medicine, .bar, .work, .shop, .business {
    display: none;
}

.meter-status {
    width: 380px;
}
